@charset "UTF-8";
/* ======================= BASE ====== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.fg, #faq dl dd {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.fm, #faq dl dt, #reserve table th, footer h5, footer p, #thanks h1 {
  font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
}

.pont{
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

body{
  width: 100%;
}
.wrap{
  width: 100%;
  margin: 0 auto;
  max-width: 710px;
}

@media(min-width:780px){
  .wrap{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
}

/* header */

.fixed-bg {
  background: url(../images/eye_catch//eye_catch3.JPG) ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 150px 0;
  box-sizing: border-box;
  text-align: center;
  height: 400px;
  opacity: 0.8;
  position: relative;
}

.fixed-bg h1 a{
  color: white;
  opacity: .8;
  font-size: 60px;
  font-family: "游明朝",YuMincho,"ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","メイリオ",Meiryo,"ＭＳ Ｐ明朝",serif;
}


#header{
  display: flex;
  justify-content: space-between;
}

#header .logo img{
  width: 80px;
  height:auto;
  display: block;
  padding: 10px 0 0 15px;
}

.header_link {
  padding: 17px 10px 0 0;
  font-weight: bold;
}

 
.header_link a{
  color: #009357;
  font-size: 17px;
}

.top_header_nav ul{
  display: flex;
  justify-content: space-evenly;align-items: center;
  height: 50px;
}
.top_header_nav ul li{
  font-size: 15px;
}
.top_header_nav ul li a{
display: block;
color: #444;
}

/* container */
.container{
  max-width: 100%;
  background: #f2f2f2;
 }

/* 施術別で美容師検索 */
.service_wrap{
  max-width: 100%;
  height: auto;
  padding: 20px 10px;
  margin-bottom: 15px;
  background: linear-gradient(-135deg, #a5c4e5, #bfedb2) fixed;
}
.top_model_reserve{
  width: 100%;
  height: 100%;
  min-width: 100%;
  background: #fff;
  border-radius: 10px;
}
.top_model_reserve .top_model_reserve_inner{
  padding: 20px 10px;
  position: relative;
  top: 0;
  left: 0;
}
.top_model_reserve .top_model_reserve_inner h2{
  font-size: 23px;
  font-weight: bold;
  padding-bottom: 10px;
}

.top_model_reserve .top_model_reserve_inner ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top_model_reserve ul li {
  width: 48%;
  height: 40px;
  margin-bottom: 20px;
  border:1px solid  #009357;
  border-radius: 5px;
  font-size: 16px;
  line-height: 2.2;
  font-weight: bold;
}
.top_model_reserve ul .cut a{
  background: url(../images/icon/cut_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul .color a{
  background: url(../images/icon/color_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul .treatment a{
  background: url(../images/icon/treatment_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul .hairarenge a{
  background: url(../images/icon/hairarenge_icon.png) center no-repeat;
  background-position: 7px center;
  background-size: 23px 23px;
}
.top_model_reserve ul li a{
  color: #444;
  padding-left: 35px;
  height: 40px;
  display: block;
}

/* article_wrap */
.airticle_wrap{
  max-width: 100%;
  height: auto;
}
/* silder */
.silder_inner{
  width: 100%;
}
.slider_content{
  background: #fff;
  width: 100%;
  margin-bottom: 20px;
}
.slider_content h2{
  font-size: 23px;
  padding: 20px 0px 0 20px;
  font-weight: bold;

}

.slider_content .slider_dresser_list{
  padding: 10px;
}

.slider_content .slider_dresser_list .list_item{
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  box-shadow:0 0 5px #ccc;
  border:5px solid #fff;
  border-radius: 7px;
}

.slider_content .slider_dresser_list .list_item a{
color: #444;
font-size: 15px;
}

.slider_content .slider_dresser_list .list_item .dresser_info{
  position: relative;
  align-items: baseline;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.slider_content .slider_dresser_list .list_item .dresser_info .dresser_photo{
  height: auto;
  display: block;
  border-radius: 5px;
} 

.slider_content .slider_dresser_list .list_item .dresser_info .dresser_info_detail {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.75);
  padding: 5px 20px ;
  box-sizing: border-box;
  border-radius:0 0 5px 5px;
} 

.slider_content .slider_dresser_list .list_item .dresser_info .dresser_info_detail .dresser_shop{
  display: block;
  font-size: 10px;
} 

.slider_content .slider_dresser_list .list_item a .popular_service_menu{
  background: url(../images/icon/menu.png) no-repeat;
  background-position: 7px;
  background-size: 15px 15px;
  padding: 3px 0 3px 30px;
} 
.slider_content .slider_dresser_list .list_item a .popular_seivice_price{
  background: url(../images/icon/money.png) no-repeat;
  background-position: 7px;
  background-size: 15px 15px;
  padding: 3px 0 3px 30px;
} 
.slider_content .slider_dresser_list .list_item a .prefecture_station{
  background: url(../images/icon/map.png) no-repeat;
  background-position: 7px;
  background-size: 15px 15px;
  font-size: 12px;
  padding: 3px 0 3px 30px;
  }

.container_see_all_btn{
    text-align: right;
    padding: 20px;
  }

.container_see_all_btn a{
  display: block; 
  font-size: 17px;
  font-weight: bold;
  color: #009357;
}

/* ranking */

.ranking_content {
  max-width: 100%;
  padding: 20px 15px;
  background: #fff;
  margin-bottom: 20px;
}

.ranking_content h2{
  font-weight: bold;
  font-size: 23px;
  padding: 0 0 20px 5px ;
}

.ranking_content  ul{
  text-align: center;
}
.ranking_content  ul .list_item{
  margin: 20px auto;
  width: 100%;
}
.ranking_content  ul .list_item a{
  color: #444;
}
.ranking_content  ul .list_item .list_inner{
  margin:0 20px ;
  text-align: left;
    overflow: hidden;
  box-shadow:0 0 5px #ccc;
  border:10px solid #fff;
  border-radius: 7px;
}

.ranking_content  ul .list_item a .dresser_info{
  position: relative;
  align-items: baseline;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
 
}

.ranking_content  ul .list_item a .dresser_info .dresser_photo{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.ranking_content  ul .list_item a .dresser_info .dresser_info_detail{
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(80, 80, 80, 0.75);
  padding: 5px 20px ;
  box-sizing: border-box;
  border-radius:0 0 5px 5px;
 
}

.ranking_content  ul .list_item a .dresser_info .dresser_info_detail .dresser_name{
  font-size: 30px;
  background: url(../images/icon/person_icon.png) no-repeat;
  background-position: 7px;
  background-size: 30px 30px;
  padding-left:50px;
}

.ranking_content  ul .list_item a .dresser_info .dresser_info_detail .dresser_shop{
  font-size: 15px;
  background: url(../images/icon/shop_icon.png) no-repeat ;
  background-position: 14px;
  background-size: 15px 15px;
  padding-left:50px;
}

.ranking_content  ul .list_item a .popular_service_menu{
  background: url(../images/icon/menu.png) no-repeat;
  background-position: 7px;
  background-size: 15px 15px;
  padding: 3px 0 3px 30px;
} 
.ranking_content  ul .list_item a .popular_seivice_price{
  background: url(../images/icon/money.png) no-repeat;
  background-position: 7px;
  background-size: 15px 15px;
  padding: 3px 0 3px 30px;
} 
.ranking_content  ul .list_item a .prefecture_station{
  background: url(../images/icon/map.png) no-repeat;
  background-position: 7px;
  background-size: 15px 15px;
  font-size: 12px;
  padding: 3px 0 3px 30px;
  }

  /* hair style */
.haie_style_wrap{
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
/* hair_style */
.hair_style{
  background: #fff;
  text-align: center;
  padding: 20px 0 0 0;
}
.hair_style h2{
  font-size: 35px;
  position: relative;
  font-weight:bold;
  color: #009357;
  margin-bottom: 10px;
}

.hair_style h2::before{
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background: #009357;
  display: block;
}
.hair_style h3{
  font-size: 20px;
  font-weight:bold;
  margin-bottom: 10px;
}
.hair_style ul li{
  display: inline-block;
}
.hair_style ul {
  margin-bottom: 20px;
}

.hair_style ul li .circle_img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid rgba(59, 117, 59, 0.5);
}
.hair_style ul li strong{
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  top: 75px;
  right: 0;
  position: absolute;
  width: 100%;
}

/* hair catalog */
.hair_style ul li .short{
  background-image: url(../images/hair_style/short_hair.jpeg);
  background-position: center;
  background-size: cover;
}
.hair_style ul li .bob{
  background-image: url(../images/hair_style/Bob_hair.jpeg);
  background-position: center;
  background-size: cover;
}
.hair_style ul li .medium{
  background-image: url(../images/hair_style/medium_hair.jpeg);
  background-position: center;
  background-size: cover;
}
.hair_style ul li .long{
  background-image: url(../images/hair_style/long_hair.jpeg);
  background-position: center;
  background-size: cover;
}
.hair_style ul li .hair_arenge{
  background-image: url(../images/hair_style/hair_arenge.jpeg);
  background-position: center;
  background-size: cover;
}
.hair_style ul li .extension{
  background-image: url(../images/hair_style/extension.jpeg);
  background-position: center;
  background-size: cover;
}

/* hair color */
.hair_style ul li .greige{
  background-image: url(../images/hair_style/greige_color.jpeg);
  background-position: center;
  background-size: cover;
} 
.hair_style ul li .beige{
  background-image: url(../images/hair_style/beige_color.jpeg);
  background-position: center;
  background-size: cover;
} 
.hair_style ul li .pink{
  background-image: url(../images/hair_style/pink_color.jpeg);
  background-position: center;
  background-size: cover;
} 
.hair_style ul li .ash{
  background-image: url(../images/hair_style/ash_color.jpeg);
  background-position: center;
  background-size: cover;
} 
.hair_style ul li .lavender{
  background-image: url(../images/hair_style/lavender_color.jpeg);
  background-position: center;
  background-size: cover;
} 
.hair_style ul li .black{
  background-image: url(../images/hair_style/black_color.jpeg);
  background-position: center;
  background-size: cover;
} 


/* sns_wrap */

.sns_wrap{
  max-width: 100%;
  height: auto;
}
.sns_content{
  background: #fff;
  text-align: center;
  padding: 30px 0 20px 0;
}
.sns_content span{
  display: block;
  padding-bottom:10px ;
  font-family: '游明朝体','YuMincho', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.sns_content strong{
  display: block;
}
.sns_content a{
  display: block;
  width: 70px;
  height: 70px;
  padding:20px 0 10px ;
  margin: 0 auto;
}

/* fotter */
footer{
  background: #000;
  padding: 15px;
  color: #fff;
}
.footer_content{
  padding-bottom:10px;
}
footer .footer_block{
  padding-bottom: 15px;
}
footer .footer_block h2{
  padding-bottom: 5px;
}
footer .footer_block ul li{
  display: inline-block;
}
footer .footer_block ul li a{
  font-size: 12px;
  padding: 0 10px;
  color: #fff;
  border-right: #fff solid 1px;
}

.copyright{
  font-size:12px;
  text-align: center;
}





